@import url(./style/header.css);
@import url(./style/carrosel.css);
@import url(./style/footer.css);

* {
    margin: 0;
    padding: 0;
}

:root {
    --font1: "Anton";
    --font2: "REM", sans-serif;
    --font3: "Bitter", serif;

}

body {
    display: flex;
    background: url('/img/gif_banner.gif') no-repeat top center;
    background-size: 100% auto;
    flex-direction: column;
    background-color: black;
}




.banner__fundo{
    position: relative;
    top: 5rem;
    width: 100vw; /* Ajuste conforme necessário */
}

.banner__logo{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    top: 8rem;
    z-index: 1;

}

.banner__moto{
    position: absolute;
    top: 13rem; /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    z-index: 2;
}



@media screen and (min-width: 1020px) {


    .banner__fundo{
        top: 20rem;
    }

    .banner__logo{
        left: 50%;
        transform: translateX(-50%);
        width: 80vw;
        top: 35rem;
    }

    .banner__moto{
        width: 25vw;
        top: 48rem;
    }
    
}


