.carrosel{
    display: grid;
    justify-content: center;
    height: 80%;
    padding: 2rem 0.5rem 2rem 0.5rem;
    grid-template-columns: 170px 170px;
}

/* Estilos básicos para o container do Swiper */
.swiper-container {
    padding: 2rem 0;
    width: 9rem;
  }
  .swiper-wrapper img{
    width: 100%;
  }
  
  /* Estilos para os slides (cartões) */
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(39, 4, 4);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 400px;
    text-align: center;
    font-size: 18px;
  }
  
  

  
  .swiper-pagination-bullet-active {
    background: #000;
  }

  .carrosel_support{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    color: red;
    text-align: center;
    font-family: var(--font3);
    font-weight: 700;
  }

  .carrosel_support img{
    flex-wrap: wrap;
    width: 70%;

  }

  @media (min-width: 1020px) {

    .carrosel{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      padding: 20rem 0 0 0;
      z-index: 2;
    }

    .swiper-container {
      width: 20%
    }

    .swiper-slide{
      width: 800px;
    }

    .carrosel_support{
      font-size: 25px;
      font-weight: 500;
    }


    .carrosel_support img{
      width: 30%;
  
    }
    
  }
  